KAGGLE_API_TOKEN=kaggle_token

MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_MODEL_URI=models:/fraud-detection@production

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_NAME=fraud_db
DB_PASSWORD=mysecretpassword

AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow
AIRFLOW_DB_HOST=airflow-postgres

AIRFLOW_ADMIN_USERNAME=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
AIRFLOW_UID=5000

AIRFLOW__CORE__FERNET_KEY=example
AIRFLOW__API__SECRET_KEY=example
AIRFLOW__API_AUTH__JWT_SECRET=example

AIRFLOW_APISERVER_URL=http://airflow-apiserver:8080
AIRFLOW_EXECUTION_API_URL=http://airflow-apiserver:8080/execution/

RELOAD_TOKEN=reload_token

COMPOSE_PROJECT_NAME=fraud-detection
